* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin-top: 60px;
  background-color: grey;
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.4;
  color: white;
}

/* NAVBAR STARTS*/

.navbar-elements {
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 50%;
  padding: 20px;
}

#navbar {
  display: flex;
  justify-content: flex-end;
  background-color: #be3144;
  position: fixed;
  top: 0;
  width: 100%;
}

/* NAVBAR ENDS */

#welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  font-size: 2rem;
  background-color: #000;
  background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
}

#welcome-section > p {
  color: red;
}

a {
  text-decoration: none;
  color: white;
}
